/* import css */
@import url('./reset.css');
@import url('./estado.css');
/* import fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #e6fafa;
    min-height: 100vh;
}

aside {
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: 0.85rem;
    width: 100%;

    a {
        text-decoration: none;
        color: #0d14a5;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    color: #05083B;
}

section {
    max-width: 600px;
    padding: 10px;

    background-color: #c7c7c74d;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #383838;
    color: #000000;
    text-align: center;

    p {
        font-size: 1rem;
        margin: 5px 0 10px 0;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 500;
        padding: 5px 0;
    }

    ul {
        box-shadow: 0 2px 5px #00000049;
        border: #000000 1px solid;
        border-radius: 10px;
        padding: 10px;
        margin: 5px auto;
        width: 80%;
    }

    kbd {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.85rem;
        font-weight: 700;
        color: #202020;
        background-color: #eeeeee7e;
        border: 1px solid #858585;
        border-radius: 3px;
        padding: 1px 5px;
        white-space: nowrap;
    }
}


input {
    font-size: 1rem;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 550px;
}

#submit {
    background-color: #0d14a5;
    box-shadow: 0 4px 1px rgba(7, 0, 0, 0.432);

    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        background-color: #0d1585;
    }

    &:active {
        background-color: #05083B;
        box-shadow: 0 2px 1px rgba(7, 0, 0, 0.432);
        padding: 8px 20px;
    }
}

form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px;
}

main>ul {
    /* From https://css.glass */
    background: #6d649638;
    border-radius: 16px;
    box-shadow: 0 4px 5px rgba(7, 0, 0, 0.432);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    border: 0.5px solid rgba(0, 0, 0, 0.28);
    border-radius: 10px;

    margin: auto;
    padding: 10px;
    word-break: break-all;
}

.task-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

@media (max-width: 600px) {
    section {
        width: 90%;
        margin: 0 auto 20px auto;
    }

    main>ul {
        width: 90%;
        padding: 10px;
        max-width: 85%;
    }
}

@media (min-width: 600px) {
    section {
        width: 500px;
        margin: 0 auto 20px auto;
    }

    main>ul {
        width: 78%;
    }
}